*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(59, 57, 57);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
.user {
    background-color: #ee110a;
    color: black;
    padding: 14px 16px;
    display: block;
}

.maps {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 6em
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .container div{
    margin: 10px;
  }

  .gallery {
    margin: 10px 50px;
  }
 
  .gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
  }

  .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
  }